<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8">
        <title> Super Category </title>
    </head>
    <body style="padding:20px">
        <a href="/{{ category }}"> < home </a>
        <h1> Super Categories </h1>
        {% if cursor %}
	    {% if cursor.rowcount > 0 %}
            <table border="2px">
                <thead>
                    <tr>
                        <th>category_name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                        <tr>
                            <td><a href="/{{ super }}view/?category_name={{ record[0] }}">{{ record[0] }}</a></td>
                            <td> <a href="/{{ super }}remove/?category_name={{ record[0] }}">remover</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
	    {% else %}
	    	<p> This page is empty </p>
	    {% endif %}
        {% else %}
            <p> Error: obtaining information from database! </p>
        {% endif %}

	<a href="/{{ super }}?page={{ [0, page - 1]|max }}"> prev page </a>
	<a href="/{{ super }}?page={{ page + 1 }}"> next page </a>
    
    <br><br>
    <hr>
    <h3> add new super category </h3>
    <form action="/{{ super }}add/" method="post" >
        <label for="category_name">Category Name:</label><br>
        <input type="text" id="category_name" name="category_name" maxlength="80" required><br>

        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>

    </body>
</html>